<div  class="banner" id="hero-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587683437362-da7775ffc532?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
  <div class="container">
    <h1>Miss Helper, votre experte en achats sur le web</h1>
    <p>Vous avez besoin de vous équiper? Nous sommmes là pour vous guider. </p>
    <%= link_to "Découvrir", products_path, class:"btn btn-flat"%>
  </div>
</div>

<div class="section bg-green10">
  <div class="container">
    <h4 class="mb-3">Miss Helper est votre compagnon idéal pour dénicher les meilleures offres en ligne en un clin d'œil.</h4>
    <div class="product-cards">
        
        <div class="value-item">
          <%= image_tag 'animal.png' %>
          <div>Comparez rapidement les prix des produits</div>
        </div>

        <div class="value-item">
          <%= image_tag 'gift.png' %>
          <div>Recevez les meilleures offres pour vous</div>
        </div>

        <div class="value-item">
           <%= image_tag 'price.png' %>
            <div>Economisez du temps et de l'argent </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
       <%= link_to "C'est parti !", products_path, class:"btn btn-flat"%>
    </div>
  </div>
</div>